<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Burger App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
</head>
<body>

{{{ body }}}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>
    $(".show-modal").on("click", function(event) {
        let id = $(this).data("id");
        $(".eat-btn").data("id", id);
        $("#customer-modal").modal('show')
    });
    $(".eat-btn").on("click", function(event) {
        $("#customer-modal .validation").remove();
        let id = $(this).data("id"),
            cName = $("#customer-name").val().trim();
        if (cName != null && cName != "") {
            let burgerData = {
                devoured: true,
                customerName: cName
            };
            $("#customer-name").val("");

            // Send the PUT request.
            $.ajax("/api/update/" + id, {
                type: "PUT",
                data: burgerData
            })
            .then(function() {
                // Reload the page to get the updated list
                location.reload();
            });
            $("#customer-modal").modal('hide')
        }
        else {
            $("#customer-modal .eat-btn").before("<span class='text-danger validation'>Please enter your name!</span>")
        }
    });
    $(".create-burger").on("submit", function(event){
        event.preventDefault();
        $(".create-burger .validation").remove();
        let bName = $("#burger-name").val().trim(),
            cName = $("#creator-name").val().trim();
        if (bName != null && bName != "" && cName != null && cName != "") {
            let burgerData = {
                burgerName: bName,
                creatorName: cName
            };

            $.ajax("/api/create", {
                type: "POST",
                data: burgerData
            })
            .then(function(data){
                // Reload the page to get the updated list
                // console.log(data);
                location.reload();
            });
        }
        else {
            $(".create-burger button").before("<span class='text-light validation'>Please enter a burger name!</span>")
        }
    });
</script>

</body>
</html>
